@model BISERP.Areas.Masters.Models.ItemPackSizeMasterModel

@{
    ViewBag.Title = "Item Group";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h5 class="page-header orangeDottedBottomBorder"> PackSize Master</h5>
    @* new addition 2024 *@
    <div id="SearchGridModal" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog find-search-grid-modal">
            <div class="modal-content gridmodal-content">
                <div class="modal-header gridmodal-header">
                    <button type="button" class="close" onclick="closeModal()">&times;</button>
                    <h4 class="modal-title"> PackSize  Master Details</h4>
                </div>
                <div class="modal-body">
                    <div class="fill">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-groupingBoder">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a class="collapsediv" data-toggle="collapse" href="#PackSizeCreate">
                            PackSize Master
                        </a>
                    </div>
                </div>
                <div id="PackSizeCreate" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <div class="fill">
                            <div class="submit-row">
                                <button type="button" class="btn btn-success" id="btnSave">Save</button>
                                <button type="button" class="btn btn-primary" id="btnreset" onclick="Clearform()">Reset</button>
                                <button type="button" class="btn btn-info" id="btnSearch">Find</button>
                            </div>
                            <fieldset class="fieldsetCustom">
                                <legend class="legendCustom">Create PackSize</legend>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="Code" class="required">PackSize Code</label>
                                            <input class="form-control" placeholder="PackSize Code" id="Code" type="text" />
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="Name" class="required">PackSize Name</label>
                                            <input class="form-control" placeholder="PackSize Name" id="Name" type="text" />
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="Quantity" class="required">PackSize Quantity</label>
                                            <input class="form-control" placeholder="PackSize Quantity" id="Quantity" type="number" />
                                        </div>
                                        <div class="col-sm-2">
                                            <br />
                                            <label for="Deactive">Deactive</label>
                                            <input type="checkbox" id="Deactive" name="Deactive">
                                        </div>
                                    </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var tempID = 0;
    var grid;
        grid = $("#grid").jsGrid({
            width: "100%",
            height: "400px",
            filtering: true, //will display top 1st row as filter
            selecting: true,
            sorting: true,
            //inserting: true, // false will not allow inserting new entry
            //editing: true,// false will not allow exisiting data entry
            //autoload: true, // this statement require to load data using ajax call
            paging: true,
            pageSize: 20,

            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();
                    $.ajax({
                        type: 'GET',
                        @*url: '@Url.Action("AllItemPackSizes", "ItemPackSizeMaster")',*@
                        url: "/ItemPackSizeMaster/AllItemPackSizes",
                        dataType: "json",
                        data: { SearchName: filter.Code, Searchcode: filter.Name },
                        success: function (data) {
                            if (data.success) {
                                d.resolve(data.records);
                            }
                            else {
                                ShowAlert("error", data.Massage);
                                $(".jsgrid-load-panel").hide();
                            }
                        },
                        error: function (e) {
                            ShowAlert("error", "Server Error! Please Contact administrator!");
                            return;
                        }

                    });
                    return d.promise();
                },
                //insertItem: function (item) {
                //    var d = $.Deferred();
                //    $.ajax(
                //    {
                //        type: "POST", //HTTP POST Method
                //        dataType: "json",
                //        url: '/ItemPackSizeMaster/SavePackSize', // Controller/View
                //        data: item,
                //        success: function (msg) {
                //            if (msg.success) {
                //                ShowAlert("success", "ItemPackSize Master added successfully to system.");
                //            } else {
                //                ShowAlert("error", msg.Message);
                //            }
                //        },

                //    }).done(function (insertedItem) {
                //        d.resolve(insertedItem.data);
                //        $("#grid").jsGrid("loadData");
                //    });
                //    return d.promise();
                //},
                //updateItem: function (item) {
                //    var d = $.Deferred();
                //    $.ajax(
                //    {
                //        type: "POST", //HTTP POST Method
                //        dataType: "json",
                //        url: '/ItemPackSizeMaster/SavePackSize', // Controller/View
                //        data: item,
                //        success: function (msg) {
                //            if (msg.success) {
                //                ShowAlert("success", "ItemPackSize Master updated successfully to system.");
                //            } else {
                //                ShowAlert("error", msg.Message);
                //            }
                //        },

                //    }).done(function (insertedItem) {
                //        d.resolve(insertedItem.data);
                //        $("#grid").jsGrid("loadData");
                //    });
                //    return d.promise();
                //}
            },
            fields: [
                { name: "ID", visible: false, width: 0 },
                { name: "Code", title: "Code", type: "text", validate: { validator: "required", message: "code field is missing! Please enter the code " }, width: 20 },
                { name: "Name", title: "Name", type: "text", validate: { validator: "required", message: "name  field is missing! Please enter the name" } },
                { name: "Quantity", title: "Quantity", type: "number", align: "left", filtering: false, validate: { validator: "required", message: "quantity field is missing! Please enter the quantity" }, width: 20 },
                { name: "Deactive", title: "Deactive", type: "checkbox", filtering: false, width: 10, inserting: false },
                //{ type: "control", deleteButton: false, width: 10 }
            ],
            rowClick: function (args) {
                var data = args.item;
                tempID = data.ID;
                $("#Code").val(data.Code);
                $("#Name").val(data.Name);
                $("#Quantity").val(data.Quantity);
                $("#Deactive").prop('checked', data.Deactive);
                closeModal();
            }
        });
    $("#btnSave").click(function () {
        if ($("#Code").val() == "") {
            ShowAlert("error", "Code is missing! Please enter the code");
            return;
        }
        if ($("#Name").val() == "") {
            ShowAlert("error", "Name is missing! Please enter the Name");
            return;
        }
        if ($("#Quantity").val() == "") {
            ShowAlert("error", "Quantity is missing! Please enter the Quantity");
            return;
        }
        let items = JSON.stringify({ //Passing data
            ID: tempID,
            Code: $("#Code").val(),
            Name: $("#Name").val(),
            Quantity: $("#Quantity").val(),
            Deactive: $("#Deactive").prop('checked'),
        });
        $.ajax(
            {
                type: "POST", //HTTP POST Method
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                url: '/ItemPackSizeMaster/SavePackSize', // Controller/View
                data: items,
                success: function (msg) {
                    if (msg.success) {
                        tempID == 0 ? ShowAlert("success", "PackSize added successfully to system.") : ShowAlert("success", "PackSize updated successfully to system.");
                        Clearform();
                    }
                    else {
                        ShowAlert("error", msg.Message);
                    }
                }
            });
    });

    $("#btnSearch").on('click', function () {
        $("#SearchGridModal").modal('show');
        $("#grid").jsGrid("loadData");
    });

    function Clearform() {
        tempID = 0;
        $("#Code").val("");
        $("#Name").val("");
        $("#Quantity").val("");
        $("#Deactive").prop('checked', false);
        $("#grid").jsGrid("loadData");
    }

    function closeModal() {
        $("#SearchGridModal").modal('hide');
    }
</script>