################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API-ERPManagement/.vs
/API-ERPManagement/BISERPService/obj
/API-ERPManagement/BISERPDataLayer/obj
/API-ERPManagement/BISERPCommon/obj
/API-ERPManagement/BISERPBusinessLayer/obj
/API-ERPManagement/packages
/erpmanagement/BISERP/obj
/erpmanagement/BISERPCommon/obj
/erpmanagement/Library
/erpmanagement/packages
/erpmanagement/.vs
/SP.sql
/erpmanagement/BISERP/Content/UploadFile
/erpmanagement/BISERP/Content/DataSet/PackingList1.Designer.cs
/SQL
