<h5 class="page-header orangeDottedBottomBorder">Change Password</h5>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-groupingBoder">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsediv" data-toggle="collapse" href="#SearchDetails">
                        Change Password
                    </a>
                </div>
            </div>
            <div id="SearchDetails" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="fill">
                        <div class="row">

                            <div class="col-md-12 col-sm-12">

                                <div class="col-md-3 col-sm-3">
                                    <label for="id_vendorName" class="required">New Paasword</label>
                                    <input type="text" name="Password" class="form-control required" maxlength="50" id="id_Password" failMsg="The Vendor Name is missing">

                                </div>

                                <div class="col-md-2 col-sm-2" style="padding-top:20px">
                                    <button type="button" id="btnSaveT" class="btn btn-success" onclick="SavePassword()">Change Password</button>

                                </div>
                                <div class="col-md-2 col-sm-2" style="padding-top:20px">
                                    <button type="button" class="btn btn-warning" id="btnResetT" onclick="ClearFormData()">Clear Entered Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function SavePassword() {

        if ($("#id_Password").val() == '') {
            ShowAlert("error", "Please Enter New Password");
            return;
        }
        var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
        $.ajax({
            headers: {
                "__RequestVerificationToken": antiForgeryToken
            },
            type: "POST", //HTTP POST Method
            url: '/EmployeeEnrollment/ChangePassword', // Controller/View
            data: {
                Password: $("#id_Password").val()
            },
            success: function (msg) {
                //  
                if (msg.success === true) {

                    ClearFormData();
                    ShowAlert("success","Password Changed Successfully");


                    // loadSearchGrid();
                }
                else {
                    ShowAlert("error", msg.message);

                    //loadSearchGrid();
                }
            }


        });
    }

    function ClearFormData() {
        $("#id_Password").val('');
    }
</script>
