<h5 class="page-header orangeDottedBottomBorder">Project Logic</h5>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-groupingBoder">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsediv" data-toggle="collapse" href="#SearchDetails">
                        Logic Details
                    </a>
                </div>
            </div>
            <div id="SearchDetails" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="fill">
                        <div id="ProjectLogicGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ProjectLogicDataModel = { location: 'local', };
    var ProjectLogicColList = [

        {
            title: "Code", dataIndx: "Code", dataType: "string", width: '49%', editable: false,
            filter: { type: 'textbox', condition: 'contain', listeners: ['keyup'] }
        },
        {
            title: "FinancialYear", dataIndx: "FinancialYear", dataType: "string", width: '49%', editable: false,
            filter: { type: 'textbox', condition: 'contain', listeners: ['keyup'] }
        }
    ];
    var setProjectLogicGridObject = {
        adjustGridWidth: false,
        maxWidth: '100%',
        height: 400,
        width: 'auto',
        minWidth: 800,
        autofill: true,
        numberCell: { show: true },
        hoverMode: 'row',
        showTop: true,
        showTitle: true,
        showBottom: true,
        sortable: true,
        resizable: true,
        scrollModel: { autoFit: true },
        draggable: false,
        hwrap: false,
        wrap: false,
        editable: false,
        columnBorders: true,
        menuIcon: true,
        filterModel: { on: true, mode: "AND", header: true },
        selectionModel: { type: 'row', mode: 'single', cbHeader: false },
        pageModel: { type: "local" },
        colModel: ProjectLogicColList,
        dataModel: ProjectLogicDataModel
    }
    var $ProjectLogicGrid = $("#ProjectLogicGrid").pqGrid(setProjectLogicGridObject);

    LoadProjectLogicGrid();
    function LoadProjectLogicGrid() {
        var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
        $.ajax({
            headers: {
                "__RequestVerificationToken": antiForgeryToken
            },
            type: "Get", //HTTP POST Method
            url: "/ProjectLogic/GetProjectLogic", // Controller/View
            beforeSend: function () {
                $ProjectLogicGrid.pqGrid("showLoading");
            },
            complete: function () {
                $ProjectLogicGrid.pqGrid("hideLoading");
            },
            success: function (response) {
                if (response.length > 0) {
                    $("#ProjectLogicGrid").pqGrid("hideLoading");
                    $("#ProjectLogicGrid").pqGrid("option", "dataModel.data", response);
                    $("#ProjectLogicGrid").pqGrid("refreshDataAndView");
                    PqGridRefreshClick($ProjectLogicGrid);
                }
                else
                    ShowAlert("error", data.message);
            }
        });
    }
</script>