<h5 class="page-header orangeDottedBottomBorder">Tax Master</h5>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-groupingBoder">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsediv" data-toggle="collapse" href="#SearchDetails">
                        Tax Details
                    </a>
                </div>
            </div>
            <div id="SearchDetails" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="fill">
                        <div id="TaxMasterGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var TaxMasterDataModel = { location: 'local', };
    var TaxMasterColList = [

        {
            title: "Tax name", dataIndx: "Tax_name", dataType: "string", width: '30%', editable: false,
            filter: { type: 'textbox', condition: 'contain', listeners: ['keyup'] }
        },
        {
            title: "Tax Percentage", dataIndx: "Tax_percentage", dataType: "string", width: '30%', editable: false,
            filter: { type: 'textbox', condition: 'contain', listeners: ['keyup'] }
        },
        {
            title: "Formula", dataIndx: "Formula", dataType: "string", width: '38%', editable: false,
            filter: { type: 'textbox', condition: 'contain', listeners: ['keyup'] }
        }
    ];
    var setTaxMasterGridObject = {
        adjustGridWidth: false,
        maxWidth: '100%',
        height: 400,
        width: 'auto',
        minWidth: 800,
        autofill: true,
        numberCell: { show: true },
        hoverMode: 'row',
        showTop: true,
        showTitle: true,
        showBottom: true,
        sortable: true,
        resizable: true,
        scrollModel: { autoFit: true },
        draggable: false,
        hwrap: false,
        wrap: false,
        editable: false,
        columnBorders: true,
        menuIcon: true,
        filterModel: { on: true, mode: "AND", header: true },
        selectionModel: { type: 'row', mode: 'single', cbHeader: false },
        pageModel: { type: "local" },
        colModel: TaxMasterColList,
        dataModel: TaxMasterDataModel
    }
    var $TaxMasterGrid = $("#TaxMasterGrid").pqGrid(setTaxMasterGridObject);

    LoadTaxMasterGrid();
    function LoadTaxMasterGrid() {
        var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
        $.ajax({
            headers: {
                "__RequestVerificationToken": antiForgeryToken
            },
            type: "Get", //HTTP POST Method
            url: "/Master/TaxMaster", // Controller/View
            beforeSend: function () {
                $TaxMasterGrid.pqGrid("showLoading");
            },
            complete: function () {
                $TaxMasterGrid.pqGrid("hideLoading");
            },
            success: function (response) {
                if (response.length > 0) {
                    $("#TaxMasterGrid").pqGrid("hideLoading");
                    $("#TaxMasterGrid").pqGrid("option", "dataModel.data", response);
                    $("#TaxMasterGrid").pqGrid("refreshDataAndView");
                    PqGridRefreshClick($TaxMasterGrid);
                }
                else
                    ShowAlert("error", data.message);
            }
        });
    }
</script>