<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <!--<add name="BISConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.242;Initial Catalog=BISERP;User Id=sa;Password=optimal$2009;"/>-->
    <!--<add name="BISConnection" providerName="System.Data.SqlClient" connectionString="Data Source=UNMESH;Initial Catalog=MechconERP;Integrated Security=true;" />-->
    <add name="BISConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-109ETND;Initial Catalog=MECHCON_LIVE;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="defaultConnection" value="BISConnection"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
	  <sessionState mode="InProc" timeout="60" />
	  <!--Session State-->
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>